/* ===================================================================================
 * Style Guide:
 * -----------------------------------------------------------------------------------
 * II. CONTENT GROUPING
 * ===================================================================================



	/* .......................................
	 * II#1. LISTS
	 * ....................................... */
ol,
ul {
	/* margin-left : -2.5em; */
	margin-left  : 0;
	padding-left : 0;
	position     : relative;
}



ol ol {
	list-style  : lower-alpha;
	margin-left : 1.3em;
}



ol ol ol {
	list-style  : disc;
	margin-left : 0;
}



ol ul {
	margin-left : 0;
}



ul ul,
ol ul {
	margin-left : .9em;
}



ul ol {
	margin-left : 1.3em;
}








		/* .......................................
		 * II#2. DEFINITION LISTS
		 * ....................................... */
dt {
	font-weight : bold;
}



dd {
	margin-left : 1em
}