



/* BASE FONTS
 * ------------------------------------------- */





/* ALT FONTS
 * ------------------------------------------- */






/* ICON FONTS
 * ------------------------------------------- */

.iconfont{
	speak                   : none;
	font-weight             : normal;
	line-height             : 1;
	display                 : inline-block;
	vertical-align          : middle;
	font-weight             : normal;
	font-style              : normal;
	text-decoration         : inherit;
	text-transform          : none;
	text-rendering          : optimizeLegibility;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

@import "../../fonts/**/**";