/* ===================================================================================
 * Module Name: Keyframe Animations
 * ===================================================================================
 * Contains all generic animation definitions.
 * Introduce per-page/section segmentation for larger projects to reduce filesize.
 *
 * Filename convention: _animation-[section].scss
 *
 * Animation example:
 *
 *  {animation name}
 *  {optional: animation description}
 *  @include keyframes(animationName){
 *    25%, 75%  {left: 25px; }
 *    50%       {left: 99px; }
 *  }
 *
 * =================================================================================== */

// FADEIN
// Assuming element's initial opacity is 0, it animates it to 1;

@-webkit-keyframes autoFadeIn {
	100% {opacity:1;}
}

@keyframes autoFadeIn {
	100% {opacity:1;}
}








/* ------------------------------------------------------
 * ANIMATE
 * ------------------------------------------------------
 * @desc  Add Compass support for CSS animation.
 *        PLEASE NOTE: enable prefixes as required by the target audience.
 * ------------------------------------------------------ */

@mixin cgyAnimate($a:false){
	@if $a {
		/*  -moz-animation    : #{$a};  */
				-webkit-animation : #{$a};
		/*  -ms-animation     : #{$a};  */
		/*	-o-animation      : #{$a};  */
				animation         : #{$a};
	}
}

/* ------------------------------------------------------
 * ENDOF: ANIMATE
 * ------------------------------------------------------ */
