/**-----------------------------------------------------------------------------
 * dl--inlineBlock
 * -----------------------------------------------------------------------------
 * Definition lists with inline-block elements
 *
 * @depends %cf
 * -----------------------------------------------------------------------------*/

.dl-inlineBlock {
	@extend %cf;
	display : block;

	dt, dd {
		@include inline-block(top);
		margin : 0;
		float  : left;
	}

	dt {
		margin   : 0 0.5em 0 0;
		position : relative;

		&:after {
			content : ":";
		}
	}

	dd + dt {
		clear : both;
	}
}

/**-----------------------------------------------------------------------------
 * ENDOF: dl--inlineBlock
 * -----------------------------------------------------------------------------*/